.login-view {
    height: 100vh;
    text-align: center;
}

.loader {
    text-align: center;
    padding-top: 80px;
}

.title {
  margin: 40px 0px;
  text-align: center;
}

.header {
  margin: auto;
  text-align: center;
}

.selectors {
    margin-bottom: 20px;
}

.artist-profile, .tracks-profile {
    border-bottom: 2px solid #007bff;
    padding: 40px;
}

.artist-profile-name, .tracks-profile-name {
    font-size: 18px;
    font-weight: bold;
    letter-spacing: 1.4px;
    padding: 5px;
}

.artist-profile-genres, .tracks-profile-artist {
    color: #A0A0A0;
    font-size: 14px;
    margin-left: 10px;
    padding: 5px;
}

.pics {
    text-align: center;
}

.image-container {
    width: 90px;
    height: 90px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.lds-ellipsis {
    display: inline-block;
    position: relative;
    width: 64px;
    height: 64px;
  }
  .lds-ellipsis div {
    position: absolute;
    top: 27px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #007bff;
    animation-timing-function: cubic-bezier(0, 1, 1, 0);
  }
  .lds-ellipsis div:nth-child(1) {
    left: 6px;
    animation: lds-ellipsis1 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(2) {
    left: 6px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(3) {
    left: 26px;
    animation: lds-ellipsis2 0.6s infinite;
  }
  .lds-ellipsis div:nth-child(4) {
    left: 45px;
    animation: lds-ellipsis3 0.6s infinite;
  }
  @keyframes lds-ellipsis1 {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  @keyframes lds-ellipsis3 {
    0% {
      transform: scale(1);
    }
    100% {
      transform: scale(0);
    }
  }
  @keyframes lds-ellipsis2 {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(19px, 0);
    }
  }